syn/speccy_wxeda.asm.rpt
syn/speccy_wxeda.done
syn/speccy_wxeda.fit.rpt
syn/speccy_wxeda.fit.smsg
syn/speccy_wxeda.fit.summary
syn/speccy_wxeda.flow.rpt
syn/speccy_wxeda.jdi
syn/speccy_wxeda.map.rpt
syn/speccy_wxeda.map.smsg
syn/speccy_wxeda.map.summary
syn/speccy_wxeda.pin
#syn/speccy_wxeda.sof
syn/speccy_wxeda.sta.rpt
syn/speccy_wxeda.sta.summary
source/db
syn/db/*
syn/greybox_tmp
syn/greybox_tmp/*
syn/incremental_db
syn/incrementa_db/*
syn/speccy_wxeda.map
syn/speccy_wxeda.qws
